#define ODK_LAYER        EXTRA_LAYERS_START_INDEX
#define ODK_SHIFT_LAYER (EXTRA_LAYERS_START_INDEX + 1)

#define PUNCTUATION_KEY(name, base, shift) name: name { \
  compatible = "zmk,behavior-mod-morph";                \
  #binding-cells = <0>;                                 \
  bindings = <base>, <shift>;                           \
  mods      = <(MOD_LSFT|MOD_RSFT)>;                    \
  keep-mods = <(MOD_LSFT|MOD_RSFT)>;                    \
};

/ {
  behaviors {
    PUNCTUATION_KEY(apos, &EZ_SL(ODK_LAYER), S_EXCL) // ' ! (1dk)
    PUNCTUATION_KEY(dash,  S_MINUS, S_QMARK)         // - ?
    PUNCTUATION_KEY(dot,   S_DOT,   S_COLON)         // . :
    PUNCTUATION_KEY(comma, S_COMMA, S_SEMI)          // , ;
  };
};


/******************************************************************************
 * AZERTY host
******************************************************************************/

#ifdef KB_LAYOUT_AZERTY

&base_layer {
  display-name = "Base";
  bindings = <SELENIUM_KEYMAP_BINDINGS(
    &none  ,  &kp A  &kp C  &kp O  &kp P  &kp Z   ,   &kp J  &kp SEMI &kp D  &apos  &kp Y     ,  &none ,
    &none  ,  H_A Q  H_S S  H_D E  H_F N  &kp F   ,   &kp L  H_J R    H_K T  H_L I  H_SEMI U  ,  &none ,
    &none  ,  &kp W  &kp X  &dash  &kp V  &kp B   ,   &dot   &kp H    &kp G  &comma &kp K     ,  &none ,
       LTHUMB_TUCK , LTHUMB_HOME , LTHUMB_REACH   ,   RTHUMB_REACH , RTHUMB_HOME , RTHUMB_TUCK
  )>;
};

/ {
  macros {
    DEAD_KEY(crc, &kp LBKT) // circumflex accent
    i_dia: i_diaeresis {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap &kp LBRC &kp I>;
    };
    n_tld: n_tilde {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&macro_tap &kp RA(N2) &kp N>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    one_dead_key {
      display-name = "1dk";
      bindings = <SELENIUM_KEYMAP_BINDINGS(
        &trans  ,  &crc Q  &kp N9  &trans  &crc O  &trans   ,   &trans  &kp LS(BSLH) S_UNDER &kp LBRC  &crc U   ,  &trans ,
        &trans  ,  &kp N0  &kp N2  &kp N7  &crc E  &n_tld   ,   S_LPAR  S_RPAR       &crc I  &i_dia    &kp SQT  ,  &trans ,
        &trans  ,  &trans  &trans  &trans  &trans  &trans   ,   &trans  &trans       &trans  &trans    &trans   ,  &trans ,
                                  &trans , S_SQT , &trans   ,   &trans , S_SQT , &trans
      )>;
    };
  };
};


/******************************************************************************
 * QWERTY-intl host
******************************************************************************/

#elifdef KB_LAYOUT_QWERTY_INTL

&base_layer {
  display-name = "Base";
  bindings = <SELENIUM_KEYMAP_BINDINGS(
    &none  ,  &kp Q  &kp C  &kp O  &kp P  &kp W   ,   &kp J  &kp M  &kp D  &apos  &kp Y     ,  &none ,
    &none  ,  H_A A  H_S S  H_D E  H_F N  &kp F   ,   &kp L  H_J R  H_K T  H_L I  H_SEMI U  ,  &none ,
    &none  ,  &kp Z  &kp X  &dash  &kp V  &kp B   ,   &dot   &kp H  &kp G  &comma &kp K     ,  &none ,
       LTHUMB_TUCK , LTHUMB_HOME , LTHUMB_REACH   ,   RTHUMB_REACH , RTHUMB_HOME , RTHUMB_TUCK
  )>;
};

/ {
  macros {
    DEAD_KEY(acu, &kp SQT)    // acute accent or cedilla
    DEAD_KEY(dia, &kp DQT)    // diaeresis
    DEAD_KEY(grv, &kp GRAVE)  // grave accent
    DEAD_KEY(crc, &kp CARET)  // circumflex accent
    DEAD_KEY(tld, &kp TILDE)  // tilde

    DEAD_KEY_SHIFT(acus, &kp SQT)
    DEAD_KEY_SHIFT(dias, &kp DQT)
    DEAD_KEY_SHIFT(grvs, &kp GRAVE)
    DEAD_KEY_SHIFT(crcs, &kp CARET)
    DEAD_KEY_SHIFT(tlds, &kp TILDE)
  };

  keymap {
    compatible = "zmk,keymap";

    one_dead_key {
      display-name = "1dk";
      bindings = <SELENIUM_KEYMAP_BINDINGS(
        &trans  ,  &crc A  &acu C  &trans  &crc O  &trans   ,   &trans  &trans  S_UNDER &kp DQT &crc U  ,  &trans ,
        &trans  ,  &grv A  &acu E  &grv E  &crc E  &tld N   ,   S_LPAR  S_RPAR  &crc I  &dia I  &grv U  ,  &trans ,
        &trans  ,  &trans  &trans  &trans  &trans  &trans   ,   &trans  &trans  &trans  &trans  &trans  ,  &trans ,
                 &EZ_SL(ODK_SHIFT_LAYER) , S_SQT , &trans   ,   &trans , S_SQT , &trans
      )>;
    };

    one_dead_key_shift {
      display-name = "1dkShift";
      bindings = <SELENIUM_KEYMAP_BINDINGS(
        &trans  ,  &crcs A &acus C &trans  &crcs O &trans   ,   &trans  &trans  S_UNDER &kp DQT &crcs U  ,  &trans ,
        &trans  ,  &grvs A &acus E &grvs E &crcs E &tlds N  ,   &trans  &trans  &crcs I &dias I &grvs U  ,  &trans ,
        &trans  ,  &trans  &trans  &trans  &trans  &trans   ,   &trans  &trans  &trans  &trans  &trans   ,  &trans ,
                                 &trans , &trans , &trans   ,   &trans , &trans , &trans
      )>;
    };
  };
};

#else
#error "KB_EMULATION_ERGOL requires either KB_LAYOUT_AZERTY or KB_LAYOUT_QWERTY_INTL"
#endif
